// *** MEDIALISK Stylolisk ***

// VARIABLES
// --------------------------------------------------------------------------------

// regular padding
$defaultPadding: 15px;

// Breakpoints
$screen-xs-min:  480px;
$screen-sm-min:  768px;
$screen-md-min:  992px;
$screen-lg-min: 1200px;

// BELOW: only processing
// --------------------------------------------------------------------------------

// Mobile - Desktop Breakpoint
$screen-desktop-min: $screen-md-min;
// Mobile - Container goes 100% width
$container-dissolve-max: ($screen-desktop-min - 1);

// mediaquery max helper value
$screen-xxs-max:             ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-mobile-max:          ($screen-desktop-min - 1);

// Container sizes
$containerSidePadding: 30px;
$container-sm: $screen-sm-min - $containerSidePadding;
$container-md: $screen-md-min - $containerSidePadding;
$container-lg: $screen-lg-min - $containerSidePadding;

// ------------------------------------------------------------------------------
// ABSTRACT HELPER CLASSES
// -------------------------------------------------------------

%clearfix{
    &:before,
    &:after{
        content: "";
        display: table;
    }
    &:after{
        clear: both;
    }
}
@mixin clearfix{
    &:before,
    &:after{
        content: "";
        display: table;
    }
    &:after{
        clear: both;
    }
}
%img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
%indented{
    margin-left: $defaultPadding;
    margin-right: $defaultPadding;
}
%padded{
    padding-left: $defaultPadding;
    padding-right: $defaultPadding;
}
%unpadded{
    padding-left: 0;
    padding-right: 0;
}
%flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
%list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}
%center-block{
    margin-left: auto;
    margin-right: auto;
}
@mixin importantPseudoQuery{
    @media screen and (min-width: 0px){ @content } // only hack to boost selector priority
}

// -------------------------------------------------------
// ABSTRACE GRID CLASSES
// -------------------------------------------------------

// GRID CLASSES
%container-fluid{
    @extend %clearfix;
}
%container{
    margin-right: auto;
    margin-left: auto;
    @media  (min-width: $screen-sm-min)    { width: $container-sm; }
    @media  (min-width: $screen-md-min)    { width: $container-md; }
    @media  (min-width: $screen-lg-min)    { width: $container-lg; }
    @extend %clearfix;
}
%simple-row{
    margin-left: -$defaultPadding;
    margin-right: -$defaultPadding;
    @extend %clearfix;
}

// RESPONSIVE
// ------------------------------------------------------------------------------

// MEDIA QUERIES
@mixin responsive-desktop{  @media screen and (min-width: #{$screen-desktop-min})                               { @content }}
@mixin responsive-mobile{   @media screen and (max-width: #{$screen-mobile-max})                                { @content }}
@mixin responsive-lg{       @media screen and (min-width: #{$screen-lg-min})                                    { @content }}
@mixin responsive-md{       @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) { @content }}
@mixin responsive-sm{       @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) { @content }}
@mixin responsive-xs{       @media screen and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max}) { @content }}
@mixin responsive-xxs{      @media screen and (max-width: #{$screen-xxs-max})                                   { @content }}




// GRID COL SYSTEM ABSTRACT
@mixin col-abstract{
    float: left;
    min-height: 1px;
}
%col-abstract{ @include col-abstract; }

// SIMPLE "COL"
@mixin simple-col     ($width)  { @extend %col-abstract;   @include responsive-desktop() { width: $width * 100% }}
@mixin simple-col-lg  ($width)  { @extend %col-abstract;   @include responsive-lg()      { width: $width * 100% }}
@mixin simple-col-md  ($width)  { @extend %col-abstract;   @include responsive-md()      { width: $width * 100% }}
@mixin simple-col-sm  ($width)  { @extend %col-abstract;   @include responsive-sm()      { width: $width * 100% }}
@mixin simple-col-xs  ($width)  { @extend %col-abstract;   @include responsive-xs()      { width: $width * 100% }}
@mixin simple-col-xxs ($width)  { @extend %col-abstract;   @include responsive-xxs()     { width: $width * 100% }}

// GRID HIDERS
%hidden-desktop { @include responsive-desktop   (){ display: none; }}
%hidden-mobile  { @include responsive-mobile    (){ display: none; }}
%hidden-lg      { @include responsive-lg        (){ display: none; }}
%hidden-md      { @include responsive-md        (){ display: none; }}
%hidden-sm      { @include responsive-sm        (){ display: none; }}
%hidden-xs      { @include responsive-xs        (){ display: none; }}
%hidden-xxs     { @include responsive-xxs       (){ display: none; }}

// GRID VISIBLERS
%visible-desktop { display: none; @include responsive-desktop { display: block; }}
%visible-mobile  { display: none; @include responsive-mobile  { display: block; }}
%visible-lg      { display: none; @include responsive-lg      { display: block; }}
%visible-md      { display: none; @include responsive-md      { display: block; }}
%visible-sm      { display: none; @include responsive-sm      { display: block; }}
%visible-xs      { display: none; @include responsive-xs      { display: block; }}
%visible-xxs     { display: none; @include responsive-xxs     { display: block; }}


// GRID SYSTEM 2 (NTH-CHIld BASED)
// -------------------------------

@mixin incColConfig($colAmount, $width, $marginRight){
    @include col-abstract;
    width: $width;
    margin-right: $marginRight;
    &:nth-child(#{$colAmount}n)     { margin-right: 0; }
    &:nth-child(#{$colAmount}n + 1) { clear: left; }
}
@mixin colFloated($cols, $gutterWidth: null) {
    @if $gutterWidth == null {
        $gutterWidth: $defaultPadding * 2   / $screen-lg-min * 100%;
    } @else if unit($gutterWidth) == 'px' {
        $gutterWidth: $gutterWidth          / $screen-lg-min * 100%;
    }
    // main
    @if type-of($cols) == 'number' {
        $actualColWidth:     ( 100% - ($cols - 1) * $gutterWidth ) / $cols; // 100% minus all gutter width / amount times margins
        @include responsive-desktop { @include incColConfig($cols, $actualColWidth, $gutterWidth); }
    } @else{
        @each $size, $cols in $cols {
            $actualColWidth: ( 100% - ($cols - 1) * $gutterWidth ) / $cols; // 100% minus all gutter width / amount times margins
            @if $size == 'lg' {
                @include responsive-lg { @include incColConfig($cols, $actualColWidth, $gutterWidth); }
            } @else if $size == 'md' {
                @include responsive-md { @include incColConfig($cols, $actualColWidth, $gutterWidth); }
            } @else if $size == 'sm' {
                @include responsive-sm { @include incColConfig($cols, $actualColWidth, $gutterWidth); }
            } @else if $size == 'xs' {
                @include responsive-xs { @include incColConfig($cols, $actualColWidth, $gutterWidth); }
            } @else if $size == 'xxs' {
                @include responsive-xxs { @include incColConfig($cols, $actualColWidth, $gutterWidth); }
            }
        }
    }
}
@mixin row($cols, $gutterWidth: null){
    $minWidth: $screen-desktop-min;
    @if type-of($cols) == 'map' {
        @if map-has-key($cols, xxs){
            $minWidth: 0;
        } @else if map-has-key($cols, xs){
            $minWidth: $screen-xs-min;
        } @else if map-has-key($cols, sm){
            $minWidth: $screen-sm-min;
        }
    }
    @media screen and (min-width: $minWidth){
        @include clearfix;
        display: flex;
        flex-flow: row wrap;
        > * {
            width: 100%; // for media queries base for flexbox
        }
    }
    > *{
        @include colFloated($cols, $gutterWidth);
    }
}